.navbar{
	position: sticky;
	top:0;
}

.jumbotron img{
	width: 200px;
	border: 5px solid #333;
}
hr{
	width: 250px;
	border-top: 3px solid #ffa500;
}

section{
	;
}
.galery{
	background-color: #eee;
}
.container{
	padding: 3%;
}
h6{
	color: #fff;
}

li{
	display: inline-flex;
}
/*overlay*/



/*hover*/


/*responsive css*/
@media(max-width: 720px){
	h2{
		font-size: 30px;
		margin-top: 10px;
	}
	h4{
		font-size: 25px;
	}
	li{
		display: inline-flex;
		font-size: 15px;
	}
}
