
.navbar{
	position: sticky;
	top:0;
	z-index: 99;
}
section{
	height: 100%;
	margin-bottom: 30%;
}

.div-img{
	overflow: hidden;
	padding: 0;
	max-width: 350px;
	float: left;
}
.div-img-side{
	overflow: hidden;
	padding: 0;
	max-width: 300px;
	float: left;
}
.img-side{
	max-height: 400px;
	display: block;
	margin: auto;
	width: 100%;
}
.img{
	max-height: 200px;
	display: block;
	margin: auto;
	width: 100%;
}
.container{
	padding: 3%;

}
#footer{
  background-color: rgba(0,0,0,0.5);
  border-top: 10px solid#00ffff;
  padding-bottom: 10px;
  
}
hr{
  border-top: 3px solid #00bfff;
}
h1{
  text-shadow: 0 0 20px solid#000;
  font-size: 50px;
  letter-spacing: 10px;
}
p{
  text-shadow: 0 0 20px solid#000;
  font-size: 20px;
}
a .fa{
  font-size: 24px; 
  margin-bottom: 5px; 
  margin-top: 10px;"
}
.envelope .fa{
  font-size: 24px; 
  margin-bottom: 5px; 
  margin-top: 10px;"
}
.form-control{
  background:none;
}
#logo-footer{
  width: 300px;
}
#logo-footer{
  width: 300px;
}
/*responsive*/
@media(max-width: 720px){
	#all-content{
		max-height: 200px;
		max-width: 200px;
	}
	.row{
		max-width: 100%;
	}
}

/*overlay*/
.overlay{
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);
	z-index: 9999;
	
}

/*target*/
.overlay:target{
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	box-shadow: 0 3px 20px rgba(0,0,0,1);
	transition: 1s;
	overflow: auto;
}
